.Events{
    background-color: black;
}
.temp_events{
    font-size: 7vmin !important;
    padding: 2vmin;
    text-align: center !important;
    margin-bottom: 0 ;
    padding-bottom: 4vmin;
    color: white;
    font-weight: 700;
}