.synergy_is_text,
.back_dot_text {
    color: white;
    text-align: left;
    font-size: 17vmin;
    font-weight: 800;
}

.Teams {

    .synergy_is_text,
    .back_dot_text {
        color: white;
        text-align: left;
        font-size: 13vmin;
        font-weight: 800;

        @media (max-width: 1400px) {
            font-size: 10vmin;
        }
    }
}

.back_dot_text {
    line-height: 0.8;

    @media (max-width: 1400px) {
        line-height: 0.5;
    }
}

.Teams {
    background: black;
    color: white;
    overflow: hidden;
    padding: 0;
}

.wrapper {

    &__heading {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 10vmin;
        line-height: 138px;
        margin: 1.3rem 0;

        @media (max-width: 500px) {
            font-size: 14vmin;
        }

        @media (max-width: 768px) {
            line-height: 60px;
        }
    }
}