.big_side_heading{
    background-color: black;
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 85% !important;
}
.small_screen_heading{
    font-weight: 700;
    font-size: 18vmin;
}
.bs_heading_1{
    text-align: center;
    font-weight: 700;
    font-size: 10vh;
    line-height: 8vh;
}
.bs_heading_2{
    font-weight: 800;
    font-size: 23vh;
    line-height: 25vh;
}
.dot_color{
    color: #BE00D7;
    font-size : 18vmin;
}
.heading_column{
    display: flex;
    align-items: center;
    justify-content: center;
}
.content_style{
    font-size: 28px;
}

@media (max-width:767px){
    .content_style{
        font-size: 20px;
    }
}