.big_side_heading{
    background-color: black;
    padding-top: 10vh;
    padding-bottom: 10vh;
    width: 100%;
}
.small_screen_heading{
    font-weight: 700;
    font-size: 10vmin;
}
.bs_heading_1{
    text-align: center;
    font-weight: 700;
    font-size: 10vh;
    line-height: 8vh;
}
.bs_heading_2{
    font-weight: 800;
    font-size: 25vh;
    line-height: 25vh;
}
.dot_color{
    color: #BE00D7;
    font-size : 18vmin;
}
.heading_column{
    display: flex;
    align-items: center;
    justify-content: center;
}