.mobile {
    // RED BORDER
    // only left border with height of 20 px
    border-left: 2px solid white;

    // translate x by 10px
    transform: translateX(-10px);

}

.footer-content {
    margin: 0 30px;
}

// .timepass-img {
//     height: 100px;
//     width: 100px;
// }