.navbar-main {
    color: white;
    font-size: 1.5rem;
    z-index: 999;
    background: rgba(0, 0, 0, 0);

    #nav-logo {
        padding: 10px;
    }

    .nav-item {
        // color: white;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 19px;
        color: rgba(170, 170, 170);
        margin-right: 80px;

        @media screen and (max-width: 1360px) {
            margin-right: 20px;
        }
    }

    .navbar-social-icons {
        color: rgba(170, 170, 170);
    }

    .nav-item:hover,
    .navbar-social-icons:hover {
        color: white;
    }


    .nav-icons {
        padding-right: 0.6em;
    }
}