*{
    box-sizing: border-box;
}

.accordion-item{
    margin: 2vmin;
    border: none !important;
    background-color: black !important;
}

.accordion-header{
    background-color:black;
}

.acbtn{
    background: rgb(60, 60, 60) !important;
    color : white !important;
    font-weight: 500;
    font-size: 3vmin !important;
    display: block;
    width: 100%;
    border-radius: 5vmin !important;
    box-shadow: none !important;
    border : none !important;
    padding: 3vmin !important;
}

.acbtn:focus{
    box-shadow: none !important;
    border : none !important;
}

.acbdy{
    background-color: black !important;
}
.acc{
    background-color: black !important;
    color: white;
    padding-left: 2vmin;
    padding-right: 2vmin;
}

.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }

