.Slider_section_1 {
    background-color: black;
    overflow: hidden;
    text-align: right;

    /* animation properties */
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);

    -moz-animation: my-animation-1 20s linear infinite;
    -webkit-animation: my-animation-1 20s linear infinite;
    animation: my-animation-1 20s linear infinite;

    @-moz-keyframes my-animation-1 {
        from {
            -moz-transform: translateX(-100%);
        }

        to {
            -moz-transform: translateX(100%);
        }
    }

    /* for Chrome */
    @-webkit-keyframes my-animation-1 {
        from {
            -webkit-transform: translateX(-100%);
        }

        to {
            -webkit-transform: translateX(100%);
        }
    }

    @keyframes my-animation-1 {
        from {
            -moz-transform: translateX(-100%);
            -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
        }

        to {
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            transform: translateX(100%);
        }
    }
}

.Slider_section_2 {
    text-align: right;
    overflow: hidden;
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);

    -moz-animation: my-animation 23s linear infinite;
    -webkit-animation: my-animation 23s linear infinite;
    animation: my-animation 23s linear infinite;
}

/* for Firefox */
@-moz-keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
    }
}

/* for Chrome */
@-webkit-keyframes my-animation {
    from {
        -webkit-transform: translateX(100%);
    }

    to {
        -webkit-transform: translateX(-100%);
    }
}

@keyframes my-animation {
    from {
        -moz-transform: translateX(100%);
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    to {
        -moz-transform: translateX(-100%);
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}


.hollow_slider_text {
    color: rgba(0, 0, 0, 0);
    font-size: 8vmin;
    -webkit-text-stroke: 2px white;
    display: inline;
    margin-right: 0.4em;
}

.solid_slider_text {
    color: white;
    font-size: 8vmin;
    display: inline;
    margin-right: 0.4em;
    // INLINE BLOCK
}