.Slider_section{
    background-color: black;
}
.hollow_slider_text{
    color: rgba(0,0,0,0);
    font-size: 8vmin;
    -webkit-text-stroke: 1px white;
}

.solid_slider_text{
    color: white;
    font-size: 8vmin;
}
