.hollow_slider_text {
    color: rgba(0, 0, 0, 0);
    font-size: 17vmin;
    font-weight: 800;
    line-height: 20vmin;
    -webkit-text-stroke: 2.5px white;
    display: inline;
    margin-right: 0.4em;
}

.solid_slider_text {
    color: white;
    font-size: 17vmin;
    font-weight: 800;
    line-height: 20vmin;
    display: inline;
    margin-right: 0.4em;
    // INLINE BLOCK
}
.scroll_content_1{
    overflow-x: scroll;
    overflow-y: hidden;
}
.scroll_content_1::-webkit-scrollbar{
    display: none;
}

.slider_section{
    background-color: black;
    padding-top: 20vh;
    padding-bottom: 10vh;
}
