.cards {
    display: flex;
    overflow: hidden;
    width: 100%;
    gap: 3.6em;
    // margin-left: 108px;
    margin-top: 30px;
}

h1 {
    font-weight: 700;
}


.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 108px;
    margin-right: 108px;
}

.icon {
    height: 60px;
    width: 60px;
    margin-right: 10px;
}

.headings {
    margin-top: 150px;
}