.timelinecard{
    &-outline {
        background-color: #BE00D7;
        width: 360px;
        min-height: 120px;
        position: absolute;
        border-radius: 30px;
    }
    &-text{
        width: 282px;
        &-heading{
            font-size: 24px;
            font-weight: 700;
            text-align: center;
        }
        &-description{
            font-size: 15px;
            text-align: center;
            font-weight: 600;
        }
    }
    &-timings{
        background-color: #6B0179;
        border-radius: 30px;
        width: 78px;
        &-time{
            font-size: 17px;
            font-weight: 700;
        }
    }
}