.title_background{
    height: 95vh;
}

.empty_space_title{
    height: 8vh;
}

.synergy_is,.back_dot{
    padding-left: 6vw;
}


.synergy_is_text,.back_dot_text{
    color: white;
    padding-left : 2vw;
    text-align: left;
    font-size: 17vmin;
    font-weight: 800;
}

.back_dot_text{
    font-weight: 900;
}
.dot_color{
    color: purple;
}