@-moz-document url-prefix() {
    html,
    body {
      scrollbar-width: none;
    }
  }

.App {
    background: black;
    color: white;
    overflow-x: hidden;
    padding: 0;
}

.about_us_section {
    margin-bottom: 20vh;
}

body {
    height: 100vh;
    overflow: auto;
}